
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

body {
  background-image: url('Background-\ Children.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.topnav a { 
  float: right;
  color: #5078FE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 0cm;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

p1 {
  text-align: center;
  font-size:xx-large;
  color:black;
  position: fixed; 
  bottom: 30%;
  left: 5%;
  width: 300;
}



p2 {
  align-self: center;
  position: fixed;
  font-size: 60px;
  bottom: 30%;
  right: 5%;
}

#joke{
  text-align: center;
  position: fixed;
  bottom: 48%;
  left: 45%;
  background-color: cornsilk;
  color: black;
  font: size 6px;;
  width: 10px;
}
